{% extends "layouts/layout.njk" %}

{% block body_class %}post-page{% endblock %}

{% block content %}
  <div id="post-page-wrapper">
    <div id="post-background" class="post-background"></div>
    <article id="post-article" class="post-container container">
      <h1 id="post-title">{{ title }}</h1>
      <div id="post-content">{{ content | safe }}</div>
    </article>
  </div>
{% endblock %}
